body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:64px;
  width:1200px;
  height:525px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:525px;
}
#u1 {
  position:absolute;
  left:2px;
  top:254px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:589px;
  width:1200px;
  height:90px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:20px;
}
#u3_img {
  position:absolute;
  left:-5px;
  top:-10px;
  width:1210px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:37px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:110px;
  top:625px;
  width:880px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:676px;
  top:623px;
  width:20px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:481px;
  top:130px;
  width:88px;
  height:141px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:141px;
}
#u10 {
  position:absolute;
  left:2px;
  top:62px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:180px;
  top:170px;
  width:300px;
  height:260px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:264px;
}
#u12 {
  position:absolute;
  left:2px;
  top:122px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:205px;
  top:192px;
  width:23px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u14 {
  position:absolute;
  left:2px;
  top:5px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:240px;
  top:190px;
  width:45px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:205px;
  top:240px;
  width:250px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AEAEAE;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u18 {
  position:absolute;
  left:20px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:205px;
  top:300px;
  width:250px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AEAEAE;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u20 {
  position:absolute;
  left:20px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:205px;
  top:360px;
  width:250px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:20px;
}
#u23_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1210px;
  height:70px;
}
#u24 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:101px;
  top:9px;
  width:189px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:46px;
}
#u26 {
  position:absolute;
  left:2px;
  top:15px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:280px;
  top:22px;
  width:330px;
  height:18px;
  font-family:'华文新魏 Regular', '华文新魏';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
